<div class="block block-inverse">
  <div class="container">
    <h1 class="text-center">
      <%= @friend.first_name %> 
      <%= @friend.last_name %>'s Reviews!
    </h1>
    <% if @ratings == [] %>
      <p class="h4 text-center">No rankings yet!</p>
    <% else %>
      <% @ratings.each do |rating| %>
        <p class="h4 text-center">
        <%= rating.title %>: 
        <%= rating.stars %> stars
        </p>
      <% end %>
    <% end %>
  </div>
</div>