<style>
h1 {color:red;}
</style>

<div class="block block-inverse">
  <div class="container">
    <div class="block block-inverse text-center">
      <h1 class="block-title">Welcome to Friendflix</h1>
      <h4 class="text-muted">A site to get suggestions on great movies to watch.</h4>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="block text-center">
      <div class="container-fluid">
        <h4 class="m-b-md">
          Join over <%= @users %> friends currently sharing suggestions on movies to watch! <strong>free</strong> forever!
        </h4>
        <form class="form-inline" action="/login_user" method="post">
          <input class="form-control m-b" name="email" placeholder="email address">
          <input class="form-control m-b" type="password" name="password" placeholder="Enter Password">
          <button class="btn btn-primary m-b">Login!</button>
        </form>
        <small class="text-muted">
          If you do not already have an account please create one to login.
          <a href="/users/new">Create A New Account!</a>
        </small>
      </div>
    </div>
    <div class="block block-bordered text-center">
      <div class="container-fluid">
       <blockquote class="pull-quote">
          <p>
            “Brad has never steered me wrong with his love for Top Gun!
          </p>
          <cite>Created by Courtney Burns and Brad Biehl</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>