<!-- This page displays a form to enter a movie title you would like to score -->
<div class="block block-inverse">
  <div class="container">
    <form class="center-contents" action="/submit_movie_search">
      <h3>Title: <input type="text" name="title"></h3>
      <input class="btn btn-lg btn-pill btn-default" type="submit" value="Search For Movie!">
    </form>
  </div>
</div>