This page displays a form to enter a movie title you would like to score

<form action="/submit_movie_search">
  <p>Title: <input type="text" name="title"></p>
  <input type="submit" value="Search For Movie!">
</form>


<p>
<a href="/view_friends_reviews">View Friends' Reviews</a>
</p>

<p>
<a href="/add_review">Add A Review</a>
</p>

<p>
<a href="/list_of_users">Add A Friend</a>
</p>

<p>
<a href="/my_friends">View My Friends</a>
</p>