This page displays a form to enter a movie title you would like to score

<form action="/submit_movie_search">
  <p>Title: <input type="text" name="title"></p>
  <input type="submit" value="Search For Movie!">
</form>