Please update information for "<%= @movie.title %>".

<form action="/submit_movie_update_form/<%= @movie.id %>" method="post">
  Title:<input type="text" value="<%= @movie.title %>" name="title">
  Image File Name:<input type="text" value="<%= @movie.image_name %>"name="image_name">
  <input type="submit">
</form>