<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>

<div class="block block-inverse">
  <div class="container">
    <h1 class="text-xs-center">Please update information for "<%= @movie.title %>"</h1>
    <form action="/submit_movie_update_form/<%= @movie.id %>" method="post">
      Title:<input type="text" value="<%= @movie.title %>" name="title">
      Image File Name:<input type="text" value="<%= @movie.image_name %>"name="image_name">
      <input type="submit">
    </form>
  </div>
</div>