<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>

<% if @ratings = [] %>
  "No rankings yet!"
<% else %>
  <ul>
    <% @ratings.each do |rating| %>
      <li>
      <%= rating.title %> 
      <%= rating.stars %>
      </li>
    <% end %>
  </ul>
<% end %>


this displays the user that is logged in's name
as well as all movies they have personally reviewed


link to view reviews/recommendations



link to add a review