<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>

<h1>List of all users</h1>

<ul>
  <% @users.each do |user| %>
  <li>
    <p>
      <%= user.last_name %>, 
      <%= user.first_name %> - 
      <form action="/add_friend/<%= user.id %>">
          <input type="submit" value="Add Friend!">
      </form>
    </p>
  </li>
  <% end %>
</ul>

