<div class="block">  
  <div class="container">
    <div class="container-fluid">
         <blockquote class="pull-quote">
          <h1>
            Add A Friend
          </h1>
            <ul>
              <% @users.each do |user| %>
                <li>
                  <p>
                    <%= user.last_name %>, 
                    <%= user.first_name %>
                    <form action="/add_friend/<%= user.id %>" method="post">
                      <button type="submit" class="btn btn-sm btn-pill btn-primary">Add Friend</button>
                    </form>
                  </p>
                </li>
                <br>
              <% end %>
            </ul>
          </blockquote>
    </div>
  </div>
</div>


