<div class="block">
  <div class="container">
    <div class="block text-center">
      <div class="container-fluid">
        <h4 class="m-b-md">
          Join over <%= @users %> friends currently sharing suggestions on movies to watch! <strong>free</strong> forever!
        </h4>
          <% if @errors != nil %>
            <% @errors.each do |error| %>
              <p><%= error %></p>
            <% end %>
          <% end %>
        <form class="form-inline" action="/submit/new_user" method="post">
          <input class="form-control m-b" type="text" name="first_name" placeholder="First Name">
          <input class="form-control m-b" type="text" name="last_name" placeholder="Last Name"><br>
          <input class="form-control m-b" type="text" name="email" placeholder="Email">
          <input class="form-control m-b" type="text" name="password" placeholder="Password"><br>
          <button class="btn btn-primary m-b" type="submit">Create Account</button>
        </form>
        <small class="text-muted">
          If you already have an account please login.
          <a href="/">Log In!</a>
        </small>
      </div>
    </div>
    <div class="block block-bordered text-center">
      <div class="container-fluid">
       <blockquote class="pull-quote">
          <p>
            “Brad has never steered me wrong with his love for Top Gun!
          </p>
          <cite>Created by Courtney Burns and Brad Biehl</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>