<!doctype html>
<html>

<form action="/submit_logout" method="post">
  <input type="submit" value="Log Out!">
</form>

<h1 align="center"> Create an Account!
  <meta charset="utf-8">
  <title>Create User Page</title>
</h1>

<body>

  <form action="/submit/new_user" method="post">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p>First Name: <input type="text" name="first_name"></p>
    <p>Last Name: <input type="text" name="last_name"></p>
    <input type="submit" value="Create Account!">
  </form>

</body>
</html>

<p>
<a href="/all_friends_reviews">View Friends' Reviews</a>
</p>

<p>
<a href="/add_review">Add A Review</a>
</p>

<p>
<a href="/list_of_users">Add A Friend</a>
</p>

<p>
<a href="/my_friends">View My Friends</a>
</p>

<p>
<a href="/dashboard">View My Dashboard</a>
</p>


