<!doctype html>
<html>
<h1 align="center"> Create an Account!
  <meta charset="utf-8">
  <title>Create User Page</title>
</h1>

<body>

<form action="/submit/new_user" method="post">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>First Name: <input type="text" name="first_name"></p>
  <p>Last Name: <input type="text" name="last_name"></p>
  <input type="submit" value="Create Account!">
</form>

</body>
</html>




